
</div>
</div>
<div class="container-footer">
    <p>This is my socialmedia links. You can contact me here.</p>
    <div class="social-icon">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-lg"></i></a>
        <a href="https://twitter.com/home?lang=en"><i class="fab fa-twitter fa-lg"></i></a>
        <i class="fab fa-instagram fa-lg"></i>
        <i class="fab fa-whatsapp fa-lg"></i>
    </div>
    <p style="color: grey; font-size: 10px; margin-bottom: -20px; padding-top: 5px;">Copyright@2001</p>
</div>
</body>
</html>