<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Rajdhani&display=swap" rel="stylesheet"> 


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,100&display=swap" rel="stylesheet"> 


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand s" style="color: #FFF; font-size: 38px;"><span style="font-size: 42px; font-weight: 800;">B</span>loggy</a>
      
      <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active ss" aria-current="page" href="/" style="color: #FFF;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ss" href="/about" style="color: #FFF;">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ss" href="/contact" style="color: #FFF;">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">