<%- include('partials/header') -%>
<div class="about-body">
    <div class="about-div">
        <h1>About</h1>
        <p>This website is made to post daily bloggs of different users. Here user's can create daily bloggs by register and login. And all theirs post will be saved in a data base. All the users can see at most 50 recent bloggs in the home page. This website will provide different options to users as well as writors. And the users would be inspired to post their bloggs at the daily basis. Readers can search authors by there names. And after the search they will find all the posts done by that author. There is also options for contacting us. The main aim of this website is to inspire our users in writing. All the data and password are sequre in this website.</p>
    </div>    
</div>

<%- include('partials/footer') -%>