<%- include('partials/header') -%>
<div class="compose">
    <h1>Compose</h1>
    <form action="/compose" method="POST">

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="Text" class="form-control" name="title">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Post</label>
            <textarea class="form-control" name="post" rows="3"></textarea>
        </div>
        <button class="submit1" type="submit">push</button>

    </form>

</div>

<%- include('partials/footer') -%>