<%- include('partials/header') -%>

<a class="nav-link comp" href="/logto" style="color: #FFF;">+</a>
<form class="d-flex search-option" action="/" method="POST">
  <input class="form-control me-2" type="search" name="srch" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
    <% for(var i=(globalarr.length)-1; i >= 0; i--) { %>
        <% for(var j=0; j < globalarr[i].arr.length; j++) { %>
            <div class="personalContainer">
                <% var l = globalarr[i].arr.link %>
                <h1> <%= globalarr[i].arr[j].titleInfo %> </h1>
                <p> <%= globalarr[i].arr[j].pageInfo %> </p>
                <p class="name">by- <%= globalarr[i].personName %> </p>
            </div>
        <% } %>
    
    <% } %>


<% if(globalarr.length >= 1){ %>
    <form action="/delete" method="POST">
        <button type="submit" class="dt">Delete</button>
    </form>
<% } %>
