<%- include('partials/header') -%>
<div class="compose">
    <form action="/logto" method="POST">
        <div class="mb-3">
            <label for="example-2" class="form-label">Author id</label>
            <input class="logto-input" type="number" name="loginfo" id="example-2" placeholder="type author id">
            <label for="example-2" class="form-label">Author name</label>
            <input class="logto-input" type="text" name="name" id="example-2" placeholder="author name">
        </div>
        <button class="submit1" type="submit">LOGTO</button>
    </form>
</div>
