<%- include('partials/header') -%>
<p style="text-align: center; color: red; margin-bottom: -40px; font-family: 'Courier New', Courier, monospace; font-weight: 700; font-size: 20px; margin-top: 20px;"><%= logMsg %></p>

<div class="login">
    <div class="login-container">
        <form action="/logto" method="POST">
            <div class="mb-3">
                <label for="example-2" class="form-label">Name</label>
                <input class="logto-input" type="text" name="name" placeholder="Name">
                <label for="example-2" class="form-label">Email</label>
                <input class="logto-input" type="text" name="email" placeholder="Email">
                <label for="example-2" class="form-label">Password</label>
                <input class="logto-input" type="password" name="password" placeholder="Password">
            </div>
            <button class="submit1" type="submit">LOGTO</button>
        </form>
    </div>

</div>

<%- include('partials/footer') -%>